{% extends "base.html" %}
{% block page_content %}
<div class="container" style="
padding: 2rem;
<!--    background-color: red;-->
<!--    background-image:-->
<!--    radial-gradient(-->
<!--      circle at bottom left,-->
<!--      #EDEBD1,-->
<!--      #006747 25%-->
    );">
    <div class="col-md-9 offset-md-2 text-black">
        <div class="row">
            <div class="col-md-6">
                <img class="rounded" src="../static/img/headshot.png" alt="" width="100%">
            </div>
            <div class="col-md-6">
                <h1>Hello!</h1>
                <p>I'm Noah..
                
                <hr/>
                A High Performing Electrical Engineering Student at the University of South Florida with a passion for
                software specifically in the AI/ML field. </p>
                <hr/>
                <h6>Contact me at <a href="mailto:consultnoahhamilton@gmail.com">consultnoahhamilton@gmail.com</a></h6>
                <hr/>
                <a href="https://www.linkedin.com/in/noah--hamilton/">LinkedIn</a>
                &nbsp | &nbsp
                <a href="https://github.com/theRealNoah">GitHub</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

